@import "tailwindcss";
@import "./fonts.css";

body {
  font-family: "Chivo", Arial, sans-serif;
  background-color: black;
  color: white;
}

main {
  padding-left: 8rem;
  padding-right: 8rem;
}

p,
a,
li {
  font-size: 1.25rem;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}
h2 {
  font-size: 3.75rem;
  font-weight: semi-bold;
}
h3 {
  font-size: 2.25rem;
}

@media (width <= 48rem) {
  h1 {
    font-size: 2.25rem;
  }
  h2,
  h3 {
    font-size: 1.5rem;
  }
}
